workflows/po-parser/workflow.json
{
  "name": "PO-Parser - 采购订单PDF解析",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "trigger",
      "name": "定时触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.142.1.135:8765/scan",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"directory\": \"/mnt/smb/po_pdfs/incoming\", \"pattern\": \"*.pdf\"}"
      },
      "id": "scan",
      "name": "扫描目录",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "options": { "caseSensitive": true, "version": 2 }
        }
      },
      "id": "has-files",
      "name": "有文件?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "id": "split",
      "name": "拆分文件",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.142.1.135:8765/parse",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pdf_path: $json.files, output_dir: '/mnt/smb/po_pdfs/output' }) }}"
      },
      "id": "parse",
      "name": "解析PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "review",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "options": { "combinator": "or", "caseSensitive": true, "version": 2 }
        }
      },
      "id": "check-can-sap",
      "name": "需要发SAP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.142.1.135:8765/to-sap",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parse_result: $node['解析PDF'].json }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "send-sap",
      "name": "发送至SAP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.sap_status.type }}",
              "rightValue": "S",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "options": { "caseSensitive": true, "version": 2 }
        }
      },
      "id": "check-sap",
      "name": "SAP写入成功?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1600, 150]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $node['解析PDF'].json.status }}",
              "rightValue": "success",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "options": { "caseSensitive": true, "version": 2 }
        }
      },
      "id": "check-original-success",
      "name": "原始解析成功?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1800, 50]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.142.1.135:8765/move",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: '/mnt/smb/po_pdfs/incoming/' + $node['解析PDF'].json.source_file, destination: '/mnt/smb/po_pdfs/done/' + $node['解析PDF'].json.source_file }) }}"
      },
      "id": "move-done",
      "name": "移到done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.142.1.135:8765/move",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: '/mnt/smb/po_pdfs/incoming/' + $node['解析PDF'].json.source_file, destination: '/mnt/smb/po_pdfs/review/' + $node['解析PDF'].json.source_file }) }}"
      },
      "id": "move-review",
      "name": "移到review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.142.1.135:8765/move",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: '/mnt/smb/po_pdfs/incoming/' + $node['解析PDF'].json.source_file, destination: '/mnt/smb/po_pdfs/error/' + $node['解析PDF'].json.source_file }) }}"
      },
      "id": "move-error-sap",
      "name": "移到error(SAP失败)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.142.1.135:8765/move",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: '/mnt/smb/po_pdfs/incoming/' + $node['解析PDF'].json.source_file, destination: '/mnt/smb/po_pdfs/error/' + $node['解析PDF'].json.source_file }) }}"
      },
      "id": "move-error-parse",
      "name": "移到error(解析失败)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "status", "name": "status", "type": "string",
              "value": "={{ $node['解析PDF'].json.status }}"
            },
            {
              "id": "source_file", "name": "source_file", "type": "string",
              "value": "={{ $node['解析PDF'].json.source_file }}"
            },
            {
              "id": "po_number", "name": "po_number", "type": "string",
              "value": "={{ $node['解析PDF'].json.header.po_number }}"
            },
            {
              "id": "customer_name", "name": "customer_name", "type": "string",
              "value": "={{ $node['解析PDF'].json.header.customer_name }}"
            },
            {
              "id": "po_date", "name": "po_date", "type": "string",
              "value": "={{ $node['解析PDF'].json.header.po_date }}"
            },
            {
              "id": "currency", "name": "currency", "type": "string",
              "value": "={{ $node['解析PDF'].json.header.currency }}"
            },
            {
              "id": "total_amount", "name": "total_amount", "type": "number",
              "value": "={{ $node['解析PDF'].json.header.total_amount }}"
            },
            {
              "id": "items", "name": "items", "type": "object",
              "value": "={{ $node['解析PDF'].json.items }}"
            },
            {
              "id": "confidence", "name": "confidence", "type": "number",
              "value": "={{ $node['解析PDF'].json.confidence }}"
            },
            {
              "id": "warnings", "name": "warnings", "type": "array",
              "value": "={{ $node['解析PDF'].json.warnings }}"
            },
            {
              "id": "output_file", "name": "output_file", "type": "string",
              "value": "={{ $node['解析PDF'].json.output_file }}"
            },
            {
              "id": "sap_message", "name": "sap_message", "type": "string",
              "value": "={{ $json.sap_status.message }}"
            },
            {
              "id": "sap_guid", "name": "sap_guid", "type": "string",
              "value": "={{ $json.guid }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "output-success",
      "name": "输出结果-成功",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2200, 0]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "status", "name": "status", "type": "string",
              "value": "review"
            },
            {
              "id": "source_file", "name": "source_file", "type": "string",
              "value": "={{ $node['解析PDF'].json.source_file }}"
            },
            {
              "id": "po_number", "name": "po_number", "type": "string",
              "value": "={{ $node['解析PDF'].json.header.po_number }}"
            },
            {
              "id": "customer_name", "name": "customer_name", "type": "string",
              "value": "={{ $node['解析PDF'].json.header.customer_name }}"
            },
            {
              "id": "warnings", "name": "warnings", "type": "array",
              "value": "={{ $node['解析PDF'].json.warnings }}"
            },
            {
              "id": "output_file", "name": "output_file", "type": "string",
              "value": "={{ $node['解析PDF'].json.output_file }}"
            },
            {
              "id": "sap_message", "name": "sap_message", "type": "string",
              "value": "={{ $json.sap_status.message }}"
            },
            {
              "id": "sap_guid", "name": "sap_guid", "type": "string",
              "value": "={{ $json.guid }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "output-review",
      "name": "输出结果-复核",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2200, 100]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "status", "name": "status", "type": "string",
              "value": "error"
            },
            {
              "id": "source_file", "name": "source_file", "type": "string",
              "value": "={{ $node['解析PDF'].json.source_file }}"
            },
            {
              "id": "error_reason", "name": "error_reason", "type": "string",
              "value": "={{ $json.sap_status.message || $json.sap_status.error || 'SAP写入失败' }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "output-error-sap",
      "name": "输出结果-失败(SAP)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "status", "name": "status", "type": "string",
              "value": "error"
            },
            {
              "id": "source_file", "name": "source_file", "type": "string",
              "value": "={{ $node['解析PDF'].json.source_file }}"
            },
            {
              "id": "error_reason", "name": "error_reason", "type": "string",
              "value": "={{ $node['解析PDF'].json.status + ': ' + ($node['解析PDF'].json.warnings || []).join('; ') }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "output-error-parse",
      "name": "输出结果-失败(解析)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1600, 400]
    }
  ],
  "connections": {
    "定时触发": { "main": [[ { "node": "扫描目录", "type": "main", "index": 0 } ]] },
    "扫描目录": { "main": [[ { "node": "有文件?", "type": "main", "index": 0 } ]] },
    "有文件?": { "main": [[ { "node": "拆分文件", "type": "main", "index": 0 } ], []] },
    "拆分文件": { "main": [[ { "node": "解析PDF", "type": "main", "index": 0 } ]] },
    "解析PDF": { "main": [[ { "node": "需要发SAP?", "type": "main", "index": 0 } ]] },
    "需要发SAP?": {
      "main": [
        [{ "node": "发送至SAP", "type": "main", "index": 0 }],
        [{ "node": "移到error(解析失败)", "type": "main", "index": 0 }]
      ]
    },
    "发送至SAP": { "main": [[ { "node": "SAP写入成功?", "type": "main", "index": 0 } ]] },
    "SAP写入成功?": {
      "main": [
        [{ "node": "原始解析成功?", "type": "main", "index": 0 }],
        [{ "node": "移到error(SAP失败)", "type": "main", "index": 0 }]
      ]
    },
    "原始解析成功?": {
      "main": [
        [{ "node": "移到done", "type": "main", "index": 0 }],
        [{ "node": "移到review", "type": "main", "index": 0 }]
      ]
    },
    "移到done": { "main": [[ { "node": "输出结果-成功", "type": "main", "index": 0 } ]] },
    "移到review": { "main": [[ { "node": "输出结果-复核", "type": "main", "index": 0 } ]] },
    "移到error(SAP失败)": { "main": [[ { "node": "输出结果-失败(SAP)", "type": "main", "index": 0 } ]] },
    "移到error(解析失败)": { "main": [[ { "node": "输出结果-失败(解析)", "type": "main", "index": 0 } ]] }
  },
  "settings": {
    "executionOrder": "v1"
  }
}